@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #1bb98e;
  border-radius: 5px;
}
